h2, h3{
    margin: 0px;
}

.experienceHeader{
    border-bottom: 1px solid #000;
}

.cvContainer{
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 0px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    min-height: 100vh;
    width: 60vw;
    /* using this to avoid that the corners of the cvLeft class overwrite 
    the rounded corners of the CV*/
    overflow: hidden;
}

.cvLeft{
    display: flex;
    background-color: rgb(50, 59, 76);
    color: white;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    width: 40%;
}

.cvRight{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 30px;
    width: 100%;
}

.profilePicture img{
    width: clamp(100px, 120px, 200px);
    height: clamp(100px, 120px, 200px);
    border-radius: 50%;
    margin: 20px 20px 0px 0px;
}

.contactHeader {
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 20px;
}

.contactBox{
    margin-top: 20px;
}

.contactBox p{
    margin: 0px 10px 0px 0px;
}
#name{
    margin: 0px;
    font-size: 2em;
    font-weight: bold;
}

#nameHeader{
    margin: 0px;
    font-size: 2em;
}

#positionHeader{
    margin: 0px;
    font-size: 1.5em;
}

.contactLabel{
    font-size: 15px;
    margin: 0px;
    font-weight: bold;
}

.contactValue{
    font-size: 12px;
    margin: 0px;
}

.deleteButton, 
.editButton {
    display: none;
    margin: 5px;
  }

.generalInfo{
    width: 100%;
}
  
.education:hover .deleteButton,
.education:hover .editButton,
.practice:hover .deleteButton,
.practice:hover .editButton,
.generalInfo:hover .editButton,
.expertise:hover .editButton,
.expertise:hover .deleteButton {
display: inline;
}

.dates{
    font-weight: bold;
    color:lightslategrey
}

.companyAddress{
    color: lightslategray
}

.practice{
    margin-top: 30px;
}

.sidebarItem{
    width: 100%;
}

ul{
    padding-left: 20px;
}

li{
    margin-top: 10px;
}

.jobTitle{
    font-weight: bold;
}

p, h5{
    margin: 0px;
}

.education{
    margin-top: 15px;
}